---
import '../styles/global.css';
const { title } = Astro.props;
import Header from '../components/Global/SiteHeader.jsx';
import MenuContainer from '../components/Global/MenuContainer.jsx';
import { fetchApi } from '../lib/strapi';
import { getStrapiMedia } from '../lib/strapi';

const contactInfo = await fetchApi({
	endpoint: 'contact',
	wrappedByKey: 'data'
});

const rawProjects = await fetchApi({
	endpoint: 'projects',
	wrappedByKey: 'data'
});

const cleanedProjects = rawProjects.map(project => ({
	id: project.id,
	order: project.order,
	location: project.location,
	date: project.date,
	title: project.title,
	slug: project.slug,
	url: getStrapiMedia(project.gallery?.[0]?.url)
}));

const projects = cleanedProjects.sort((a, b) => a.order - b.order);
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <MenuContainer 
		contactInfo={contactInfo}
		projects={projects}
		client:load
	/>
	<main>
		<slot />
	</main>
  </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
